@model ProductVM

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Ürün Düzenle</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form asp-controller="Product" asp-action="Edit" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <input asp-for="@Model.Product.ID" type="hidden" />
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.Name">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.Name" class="form-control ">
                                    <span asp-validation-for="@Model.Product.Name"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.BrandID">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.BrandID" class="form-control ">
                                    <select class="form-control" asp-for="@Model.Product.BrandID" asp-items="@Model.Brands.Select(x => new SelectListItem{ Text = x.Name, Value=x.ID.ToString()})">
                                        <option value="">Marka Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="@Model.Product.BrandID"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.CategoryID">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.CategoryID" class="form-control ">
                                    <select class="form-control" asp-for="@Model.Product.CategoryID" asp-items="@Model.Categories.Select(x => new SelectListItem{Text=x.Name, Value=x.ID.ToString()})">
                                        <option value="">Kategori Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="@Model.Product.CategoryID"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.Price">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.Price" class="form-control ">
                                    <span asp-validation-for="@Model.Product.Price"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.Stock">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.Stock" class="form-control ">
                                    <span asp-validation-for="@Model.Product.Stock"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.Description">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.Description" class="form-control ">
                                    <span asp-validation-for="@Model.Product.Description"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.Detail">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.Detail" class="form-control ">
                                    <span asp-validation-for="@Model.Product.Detail"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.CargoDetail">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.CargoDetail" class="form-control ">
                                    <span asp-validation-for="@Model.Product.CargoDetail"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Product.DisplayIndex">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.Product.DisplayIndex" class="form-control ">
                                    <span asp-validation-for="@Model.Product.DisplayIndex"></span>
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">İptal</button>
                                    <button class="btn btn-primary" type="reset">Yenile</button>
                                    <button type="submit" class="btn btn-success">Ekle</button>
                                </div>
                            </div>
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
